src/app/code/community/Smile/SearchOptimizer/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"
                    schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>

            <complexType name="recommendationIndexSwitchResult">
                <all>
                    <element name="alias" type="xsd:string" />
                    <element name="index_name" type="xsd:string" />
                    <element name="status" type="xsd:string" />
                    <element name="code" type="xsd:int" />
                    <!--<element name="deleted_indexes" type="typens:ArrayOfString" />-->
                </all>
            </complexType>

            <!--<complexType name='ArrayOfString'>
                <sequence>
                    <element name='index' type='xsd:string' maxOccurs='unbounded'/>
                </sequence>
            </complexType>-->

        </schema>
    </types>

    <message name="recommendationIndexSwitchRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="indexName" type="xsd:string" />
    </message>

    <message name="recommendationIndexSwitchResponse">
        <part name="result" type="typens:recommendationIndexSwitchResult" />
    </message>

    <portType name="{{var wsdl.handler}}PortType">
        <operation name="recommendationIndexSwitch">
            <documentation>Switch recommendation index</documentation>
            <input message="typens:recommendationIndexSwitchRequest" />
            <output message="typens:recommendationIndexSwitchResponse" />
        </operation>
    </portType>

    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="recommendationIndexSwitch">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>

    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>

</definitions>